* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

p {
    margin-bottom: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    padding: 5px 30px;
    width: 100%;
    height: 40px;
    background-color: papayawhip;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 32px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main {
    padding: 80px 30px;
    height: 100%;
}

footer {
    padding: 0px 30px;
    background-color: papayawhip;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer > p > a {
    padding-left: 25px;
}

.main-title {
    display: flex;
    flex-direction: column;
    font-size: 48px;
    font-family: 'Gaegu', cursive;
    align-items: center;
    justify-content: center;
}

.main-title > div {
    display: flex;
    flex-direction: row;
}

p {
    font-family: 'Gaegu', cursive;
}

a:link { 
    text-decoration: none;
    text-shadow: 0 0 24px;
    color: mediumslateblue;
}

a:visited {
    text-decoration: none;
    text-shadow: 0 0 24px;
    color: mediumslateblue;
}

.login-form {
    display: flex;
    position:fixed;
    top:50%; 
    left:50%;
    transform: translate(-50%,-50%);
    background-color:papayawhip;
}

.login-form > button {
    width: 70px;
}

.login-form > div {
    display: flex;
    flex-direction: column;
}

.login-form > div > input {
    width: 250px;
    height: 60px;
}

.login-form > div > button {
    flex-grow: 1;
}

.login-form > div > div {
    display: flex;
}

.login-form > div > div > label {
    flex-grow: 1;
    border: 1px solid gray;
    font-family: 'Gaegu', cursive;
    font-size: 24px;
    background-color: white;
    text-align: center;
}

#modal{
    display:none;
    position:fixed; 
    width:100%; height:100%;
    top:0; left:0; 
    background:rgba(0,0,0,0.3);
  }
  .modal-con{
    display:none;
    position:fixed;
    top:50%; left:50%;
    transform: translate(-50%,-50%);
    width: 100%;
    padding: 30px;
  }
  
  .modal-con .con{
    padding: 30px;
  }
  .modal-con .close{
    display:block;
    position:absolute;
    width:30px; height:30px;
    text-align:center; line-height: 30px;
    text-decoration:none;
    color:#000; font-size:20px; font-weight: bold;
    right: 0;
    top: 0;
    background-color:papayawhip;
  }


@media (max-width: 600px) {
    .main-title {
        flex-direction: row;
    }

    .main-title > p {
        padding-right: 50px;
    }

    .main-title > div {
        flex-direction: column;
    }
}

@media (min-width: 601px) {
    .main-title > div > p {
        margin-right: 20px;
    }
}